*{
	margin: 0px;
	padding: 0px;

}
header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url("images/resort.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.main ul {
	float: right;
	list-style-type: none;
	margin-top: -19px;
	margin-right: 25px;

}
.main ul li{
    display: inline-block;
}

.main ul li a{
	display: inline-block;
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff transparent;
	border-radius: 20px;
	transition: 0.6s ease;
	border-color: black;
	font-family: 'Cookie', cursive;
   
}
.button .btn{
	transition: 0.1 ease;
	color: #fff;
}

.btn:hover{
	background-color: #fff;
    color: black;
}

.main ul li a:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}

.logo img{
	     float: left;
    width: 229px;
    height: 217px;
    /*margin: -46px -41px;*/
    padding: 0px 0px;
  margin:  -101px -44px;

}
.name {
	position: absolute;
	top: 40%;
	left:  47%;

	transform: translate(-50%,-50%);
}
.name h2{
	 color: #fff;
	 font-size: 60px;
	 /*font-family: 'Cookie', cursive;*/
	   font-family: 'Cabin Sketch', cursive;

/*font-family: 'Fasthand', cursive;*/
/*font-family: 'Griffy', cursive;*/
/*font-family: 'Lobster Two', cursive;*/
/*font-family: 'Shalimar', cursive;*/
}

.home{
		position: absolute;
	    top: 50%;
    left: 24%;
}
#m2{
	position: relative;
	top: 40px;
    left: -363px;
}
#m3{
	position: relative;
top: 76px;
    left: -512px;
}



.home .homeH{
	  color:#000000;
	 align-items: center;
	 display: inline-block;
	
	 font-family: 'Lobster Two', cursive;
	 -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
}
#1{
	left:20%;
}

.button{
		position: absolute;

	transform: translate(-50%,-50%);
	top: 79%;
    left: 46%;

}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
font-family: 'Lobster Two', cursive;
		font-size: 22px;
		border-radius: 20px;
}

.btn:hover{
	    background-color: #fff;
        color: #000; 
}

.logo h2{
	    font-size: 40px;
    color: #ffeeb2;
    position: relative;
    top: 16px;
    left: 60px;
        width: 20px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
   /*font-family: 'Roboto', sans-serif;*/

/*font-family: 'Fasthand', cursive;*/
/*font-family: 'Griffy', cursive;*/
/*font-family: 'Lobster Two', cursive;*/
font-family: 'Cormorant Garamond', serif;
}





.name{
  font-size: 80px;
  color: #fff;
  text-align: center;
}


@-webkit-keyframes glow{
  from {
    text-shadow: 0 0 10px #FFD700, 0 0 20px #fff, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700, 0 0 60px #FFD700, 0 0 70px#FFD700;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700, 0 0 60px #FFD700, 0 0 70px #FFD700, 0 0 80px #FFD700;
  }
}

/*.services-container{
	     position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 6em 0;
}*/
#services{
	width: 80%;
    margin: 48px -4px;
    padding: 20px 20px;
    display: flex;
    position: absolute;
    left: 15%;
    right: 20%;
 
}

.box{
	 width: 300px;
	 height: 300px;
	 border: 1px solid black transparent;
	margin: 27px 17px;
	 padding: 0px 0px;
    border-radius: 40px ;
 
}
.box img{
	  width: 300px;
	 height: 300px;
	 border: 1px solid black transparent;
	  border-radius:40px;
}
.sec h1{
	 display: flex;
	font-size: 2.8rem;
     margin: 11px -85px;
	 padding: 0px 0px;
	 text-align: center;
	  position: absolute;
	  	  font-family: 'Lobster Two', cursive;

	  left: 50%;
}

.box img{
transition: 1s ease;
}

.box img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

.box h3{
	    margin: 7px 0px;
    padding: 22px 81px;
    font-size: 24px;
    font-family: 'El Messiri', sans-serif;

}

.sec2{
	position: absolute;
	    top: 197%;
}
.book{
	position: absolute;
	      top: 350%;
}
.customers{
	position: absolute;
	    top: 450%;
}
.customer img{
	height: 600px;
	width: 600px;
}
.footer{
		position: absolute;
	    top: 750%;
}
.btn1{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;

    /*border-radius: 5px;*/
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
     font-family: 'El Messiri', sans-serif;
}
.btn1:hover{
    opacity: 0.65;
}
img{
    width: 100%;
    display: block;
}
.book{
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("images/banner-img.jpg") center/cover no-repeat;
    color: #fff;
 padding: 46px 281px;
    margin: 277px 91px;
}
.book-form{
    display: grid;
}
.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-form input[type = "submit"]{
    margin: 18px 0 0 0;
    background: var(--dark);
    color: #fff;
    
}
.book-form label, .book-form input{
    width: 100%;
}
.book-form label{
    font-weight: 600;
    word-spacing: 5px;
    padding-bottom: 8px;
}
.book-form input:not(.btn){
      margin: 4px 1px 14px 0px;
    padding: 15px 10px;
    border-radius: 23px
    font-size: 17px;
     
    
}
.book-form input:focus{
    outline: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.form-item{
	 font-family: 'El Messiri', sans-serif;

}


@media(min-width: 768px){
    .book-form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
}
@media(min-width: 1170px){
    .book-form{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1370px){
    .book-form{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;
    }
    .book{
        height: 40vh;
        display: grid;
    }
}
@media(max-width: 500px){
    .book{
        padding-left: 20px;
        padding-right: 20px;
    }
}




.customers{
    margin-top: 40px;
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/customer-banner.jpg") center/cover no-repeat fixed;
}
.customer{
    background: #fff;
    padding: 35px;
    text-align: center;
    margin: 58px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: var(--transition);
}
.rating{
    margin: 10px 0;
    color: var(--yellow);
}
.customer h3{
    font-size: 25px;
}
.customer p{
    opacity: 0.7;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;
}
.customer img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 25px auto;
}
.customer span{
    font-weight: 700;
    opacity: 0.7;
}
.customer:hover{
    transform: translateY(-18px);
}


.services-icon i{
	 font-size: 2em;
	 position: relative;
	    left: 15px;
	  top: 8px;
}
.sec-cont{
	/*border: 1px solid grey;*/
	    height: 150px;
}
.sec-cont .c{
	 border: 1px solid grey transparent;
     margin: 11px;
    padding: 0px;
       height: 201px;

    border-radius: 39px;
    /*background-color: #F0ECEF;*/

     background: #F0ECEF; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #F0ECEF 50%,  #E5E516 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.service-content{
	margin: 0px 0px;
	padding: 17px 10px;
}

.sec-cont .c:hover{
	 /*background-color: #E5E516 ;*/
	 /*transition: 0.5s ease;*/
	 background-position: left;
	/*color: #fff;*/
}


.service-content h2{
    font-family: 'Lobster Two', cursive;
}
.service-content p{
  font-family: 'El Messiri', sans-serif;
  font-size: 20px;
}

.sec-cont .midh{
    border: 1px solid grey transparent;
  margin: 22px 313px;
    width: 50%;
    padding: 0px 0px;
    height: 102px;
    text-align: center;
    font-size: 40px;
   font-family: 'Cabin Sketch', cursive;


    position: relative;
    top: -89px;
    border-radius: 40px;
    background-color: #E3E3E3;
}

.bot{
	   border: 1px solid grey transparent;
      margin: 22px 302px;
    width: 60%;
    padding: 0px 0px;
    height: 102px;
    text-align: center;
    font-size: 40px;
    font-family: 'Cabin Sketch', cursive;
    position: relative;
    top: 1660px;
    border-radius: 40px;
    background-color: #E3E3E3;
}
#customers .title h2{
	    border: 1px solid grey transparent;
      margin: 22px 302px;
    width: 60%;
    padding: 0px 0px;
 
    text-align: center;
    font-size: 40px;
    font-family: 'Cabin Sketch', cursive;
    position: relative;
    border-radius: 40px;
    background-color: #E3E3E3;
}
.customer h3{
	 font-family: 'Lobster Two', cursive;
}


.f{
	position: relative;
   top: 3850px;
   background-color: #E3E3E3;

}

.ext{
	    display: flex;
    padding: 50px 305px;
    background-color: #F0ECEF;
    color: #121212;

}


.colf ul {
	   
      padding: 0;
    list-style: none;
    line-height: 2.6;
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
    width: 248px;

}
.colf ul a{
  text-align:center;
    border: 1px solid grey transparent;
      color:inherit;
  text-decoration:none;
  font-family: 'El Messiri', sans-serif;
  font-size: 19px;
  color:#5F5858 ;

}
.colf ul a:hover{
	color: #000000;
}


.colf h3{
	font-family: 'Lobster Two', cursive;
    font-size: 22px;

}
.f .end{

      margin: 22px 302px;
    width: 60%;
    padding: 0px 0px;
 
    text-align: center;
    font-size: 19px;
    font-family: 'El Messiri', sans-serif;
    position: relative;
    border-radius: 40px;
    background-color: #E3E3E3;
}
.f .end i{
	    font-size: 28px;
       padding: 4px;
}
.f .end i:hover{
	 color: #FF1B78;
}

